* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  background-color: white; }
  header p {
    font-size: 10px; }
  header .logo {
    width: 90px; }
  header h1 {
    color: red;
    font-style: italic;
    font-weight: 800;
    font-family: 'Courgette' , cursive;
    font-size: 13px;
    text-align: center;
    text-transform: none;
    margin: 3px; }
  header .h1Black {
    color: black; }

/* Encabezado */
#encabezado {
  display: grid;
  grid-template-areas: "logobm h1 ." "logobm p .";
  grid-template-columns: 80px auto 80px;
  grid-template-rows: 25px 25px; }
  #encabezado .h1 {
    display: grid;
    grid-area: h1;
    align-content: center;
    justify-content: center;
    margin: 0px; }

.p {
  grid-area: p;
  justify-self: center;
  align-self: flex-start;
  margin: 0px;
  animation-duration: 3s;
  animation-name: aparecer; }

/* FIN Encabezado */
/* NAV */
nav {
  background-color: black; }
  nav .inicio {
    font-size: 15px; }
  nav ul {
    background-color: black;
    margin: 3px; }
  nav li a {
    font-size: 15px;
    text-decoration: none;
    color: white; }
  nav .navbar-toggler {
    background-color: red; }

.navbar-light .navbar-brand {
  color: white; }

/* FIN NAV */
h2 {
  font-size: 15px;
  color: red;
  font-weight: 500;
  text-decoration: underline;
  margin: 2px; }

.mauroImg {
  margin-bottom: 10px; }

.serviciosImg {
  width: 315px;
  margin-bottom: 15px; }

.imgBorder {
  margin: 3px;
  border: solid 3px red;
  border-radius: 5%; }

p {
  color: black;
  font-size: 10px; }

.bm {
  display: flex;
  flex-direction: column;
  align-items: center; }

.imgMid {
  display: flex;
  justify-content: center; }

.pMid {
  margin: 2% 20%; }

/* Transiciones de imagenes */
.transicion:hover {
  transition: height 0s, width 0s;
  width: 820px; }

.transicionUno:hover {
  width: 920px; }

.transicionEstucos:hover {
  transition: heght 0s, widht 0s;
  width: 73%; }

.transicionInteriores:hover {
  transition: heght 0s, widht 0s;
  width: 73%; }

.transicionMicro:hover {
  transition: heght 0s, widht 0s;
  width: 73%; }

.transicionRev:hover {
  transition: heght 0s, widht 0s;
  width: 73%; }

/* FIN Transiciones de imagenes */
.row {
  row-gap: 15px;
  column-gap: 1px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px; }

/* FORM */
.form {
  font-size: 11px;
  margin: 3px; }

.check {
  display: flex; }

.checkBox {
  width: 10px; }

.air {
  margin: 0px; }

.contacto {
  color: white; }

.accordion-button:not(.collapsed) {
  color: white;
  background-color: black; }

.accordion-item {
  background-color: white;
  border: 1px solid red; }

.accordion-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 15px;
  color: white;
  text-align: left;
  background-color: black;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease; }

/* FIN FORM */
footer {
  margin-top: 5px;
  padding: 15px 0px 0px 0px;
  font-weight: 700;
  background-color: black;
  border-top: solid 1px red; }
  footer p {
    color: white; }

.footer {
  display: flex;
  align-items: baseline;
  justify-content: space-around; }

.bodyError {
  font-family: "montserrat",sans-serif; }

.error {
  color: red;
  font-size: 60px; }

.contenedor {
  width: 100%;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
  position: absolute;
  top: 40%;
  text-align: center; }

@keyframes aparecer {
  from {
    opacity: 0.1; }
  to {
    opacity: 1; } }

@media (min-width: 576px) {
  header {
    background-color: white; }
    header h1 {
      font-size: 20px; }
  /* NAV */
  nav {
    background-color: black; }
    nav .navbar-toggler {
      background-color: red; }
    nav .inicio {
      font-size: 15px; }
    nav ul {
      background-color: black;
      margin: 3px; }
    nav li a {
      font-size: 15px;
      text-decoration: none;
      color: white; }
    nav .activo {
      background-color: red;
      font-weight: 500; }
  /* FIN NAV */
  .row {
    row-gap: 15px;
    column-gap: 1px; }
  /* FORM */
  .form {
    font-size: 11px;
    margin: 3px; }
  .check {
    display: flex; }
  .checkBox {
    width: 10px; }
  .air {
    margin: 0px; }
  .contacto {
    color: white; }
  .accordion-button:not(.collapsed) {
    color: white;
    background-color: black; }
  .accordion-item {
    background-color: white;
    border: 1px solid red; }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 15px;
    color: white;
    text-align: left;
    background-color: black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease; }
  /* FIN FORM */ }

@media (min-width: 768px) {
  p {
    font-size: 16px; }
  header {
    background-color: white; }
    header h1 {
      font-size: 25px; }
    header p {
      font-size: 16px; }
    header .logo {
      width: 150px; }
  /* Encabezado */
  #encabezado {
    display: grid;
    grid-template-areas: "logobm h1 ." "logobm p .";
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 45px 40px; }
  .h1 {
    display: grid;
    grid-area: h1;
    align-content: center;
    justify-content: center;
    margin: 0px; }
  .p {
    grid-area: p;
    justify-self: center;
    align-self: flex-start;
    margin: 0px;
    animation-duration: 3s;
    animation-name: aparecer; }
  /* FIN Encabezado */
  /* NAV */
  nav {
    background-color: black; }
    nav .navbar-toggler {
      background-color: red; }
    nav .inicio {
      font-size: 20px; }
    nav ul {
      background-color: black;
      margin: 3px; }
    nav li a {
      font-size: 18px;
      text-decoration: none;
      color: white; }
    nav .activo {
      background-color: red;
      font-weight: 500; }
  /* FIN NAV */
  h2 {
    font-size: 20px;
    color: red;
    font-weight: 500;
    text-decoration: underline; }
  .mauroImg {
    width: 450px; }
  .serviciosImg {
    width: 500px; }
  .row {
    row-gap: 15px;
    column-gap: 1px; }
  /* FORM */
  .form {
    font-size: 18px;
    margin: 10px; }
  .check {
    display: flex; }
  .checkBox {
    width: 18px; }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 20px;
    color: white;
    text-align: left;
    background-color: black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease; }
  /* FIN FORM */ }

@media (min-width: 992px) {
  p {
    font-size: 20px; }
  header {
    background-color: white; }
    header .logo {
      width: 210px; }
    header h1 {
      font-size: 40px; }
    header p {
      font-size: 20px; }
  /* Encabezado */
  #encabezado {
    display: grid;
    grid-template-areas: "logobm h1 ." "logobm p .";
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 80px 45px; }
  .h1 {
    display: grid;
    grid-area: h1;
    align-content: center;
    justify-content: center;
    margin: 0px; }
  .p {
    grid-area: p;
    justify-self: center;
    align-self: flex-start;
    margin: 0px;
    animation-duration: 3s;
    animation-name: aparecer; }
  /* FIN Encabezado */
  /* NAV */
  nav {
    background-color: black; }
    nav .navMid {
      justify-content: center; }
    nav .inicio {
      font-size: 22px; }
    nav ul {
      background-color: black;
      margin: 8px; }
    nav li a {
      font-size: 22px;
      text-decoration: none;
      color: white;
      margin: 10px; }
    nav li a:hover {
      color: red; }
    nav .activo {
      background-color: red;
      margin: 3px;
      font-weight: 400; }
  .navbar-light .navbar-brand {
    color: white; }
  /* FIN NAV */
  h2 {
    font-size: 30px;
    word-spacing: 5px; }
  .mauroImg {
    width: 550px;
    margin-bottom: 20px; }
  .serviciosImg {
    width: 730px;
    margin-bottom: 20px; }
  .transicion:hover {
    transition: height 0s, width 0s;
    width: 570px; }
  .transicionUno:hover {
    width: 750px; }
  .row {
    row-gap: 15px;
    column-gap: 1px; }
  /* FORM */
  .air {
    margin-top: 150px; }
  .accordion-button:not(.collapsed) {
    color: white;
    background-color: black; }
  .accordion-item {
    background-color: white;
    border: 1px solid red; }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 25px;
    color: white;
    text-align: left;
    background-color: black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease; }
  .form {
    font-size: 25px;
    margin: 18px; }
  .check {
    display: flex; }
  .checkBox {
    width: 20px; }
  .accordion-body {
    padding: 1rem 1.25rem;
    margin: 5px; }
  /* FIN FORM */ }

@media (min-width: 1200px) {
  p {
    font-size: 16px; }
  header {
    background-color: white; }
    header .logo {
      width: 210px; }
    header h1 {
      font-size: 60px; }
    header p {
      font-size: 16px; }
  /* Encabezado */
  #encabezado {
    display: grid;
    grid-template-areas: "logobm h1 ." "logobm p .";
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 80px 45px; }
  .h1 {
    display: grid;
    grid-area: h1;
    align-content: center;
    justify-content: center;
    margin: 0px; }
  .p {
    grid-area: p;
    justify-self: center;
    align-self: flex-start;
    margin: 0px;
    animation-duration: 3s;
    animation-name: aparecer; }
  /* FIN Encabezado */
  /* NAV */
  nav {
    background-color: black; }
    nav .navMid {
      justify-content: center; }
    nav .inicio {
      font-size: 22px; }
    nav ul {
      background-color: black;
      margin: 8px; }
    nav li a {
      font-size: 23px;
      text-decoration: none;
      color: white;
      margin: 10px; }
    nav li a:hover {
      color: red; }
    nav .activo {
      background-color: red;
      margin: 3px;
      font-weight: 500; }
  .navbar-light .navbar-brand {
    color: white; }
  /* FIN NAV */
  h2 {
    font-size: 30px;
    word-spacing: 5px; }
  .flex {
    display: flex;
    justify-content: space-evenly;
    align-content: center; }
  .mauroImg {
    width: 550px;
    margin-bottom: 0px; }
  .serviciosImg {
    width: 730px;
    margin-bottom: 20px; }
  .transicion:hover {
    transition: height 0s, width 0s;
    width: 560px; }
  .transicionUno:hover {
    width: 750px; }
  .row {
    row-gap: 15px;
    column-gap: 0px; }
  /* FORM */
  .air {
    margin-top: 150px; }
  .contacto {
    font-size: 25px;
    color: black; }
  .accordion-button:not(.collapsed) {
    color: white;
    background-color: black; }
  .accordion-item {
    background-color: white;
    border: 1px solid red; }
  .accordion-button {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1rem 1.25rem;
    font-size: 25px;
    color: white;
    text-align: left;
    background-color: black;
    border: 0;
    border-radius: 0;
    overflow-anchor: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out,border-radius .15s ease; }
  .form {
    font-size: 18px;
    margin: 8px; }
  .check {
    display: flex; }
  .checkBox {
    width: 18px; }
  /* FIN FORM */ }
